:root {
    /* colors */
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --White: hsl(0, 0%, 100%);
    /* Typography */
    --FontSize: 1.0625rem;
    --FontSizeD: 1rem;
    --padding-s: 1.75rem;
    --Delay: .3s;
}
/* Start global rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
body {
    font-family: "Open Sans", serif;
    background-color: var(--Violet);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100svh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
h1, h2, h3,
h4, h5, h6 {font-family: "Poppins", serif}
img {
    display: block;
    max-width: 100%
}
ul {list-style: none}

/* Start header */
header {
    margin-bloc-end: 3.125rem
}
header img {
    width: 7.5rem;
}
/* Start main */
.main_container {flex: 1}
.main__container img {
    width: 80%;
    margin: 0 auto;
    animation: illustration 4s linear infinite alternate
}
.main__container img:hover {
    animation-play-state: paused
}
.main__container .text {
    padding-bloc-start: var(--padding-s);
    padding-bloc-end: var(--padding-s);
    margin: 0 auto;
    text-align: center;
    color: var(--White)
}
.main__container .text h2 {
    margin-bloc-end: 1.25rem;
    font-size: 1.8125rem
}
.main__container .text p {
    font-size: var(--FontSize)
}
.main__container .text a {
    display: block;
    color: var(--Violet);
    background-color: var(--White);
    text-decoration: none;
    padding: .9rem 0;
    width: 65%;
    margin: 20px auto;
    border-radius: 25px;
    box-shadow: 0px 15px 10px -15px #111;
    transition: var(--Delay)
}
.main__container .text a:hover {
    color: var(--White);
    background-color: var(--Soft-Magenta)
}
/* Start footer */
footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
footer .icons a {
    font-size: 1.2rem;
    color: var(--White);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    border: 1px solid var(--White);
    transition: var(--Delay);
    text-decoration: none
}
footer .icons a:hover {
    color: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta) 
}
@keyframes illustration {
    from {
        transform: translateY(-5%);
    }
    to {
        transform: translateY(5%);
    }
}
@media (min-width: 62rem) {
    body {
        background-image: url(../images/bg-desktop.svg);
        padding: 3.25rem 5rem 2.5rem 4.375rem
    }
    header img {
        width: 14rem;
    }
    .main__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem
    }
    .main__container img {
        width: 37.5rem
    }
    .main__container .text {
        text-align: left
    }
    .main__container .text h2 {
        font-size: 3rem
    }
    .main__container .text p {
        font-size: var(--FontSizeD);
        max-width: 90%;
        line-height: 1.5rem
    }
    .main__container .text a {
        margin: 1.25rem 0;
        width: 30%;
        text-align: center
    }
    footer {
        display: flex;
        justify-content: flex-end;
    }

    @keyframes illustration {
        from {
            transform: translateY(-3%);
        }
        to {
            transform: translateY(3%);
        }
    }
}
